/* settings to override the Material Design css */
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    display: inline-flex;
    vertical-align: middle;
	padding: 5px 10px;
}

.mdl-layout--fixed-drawer > .mdl-layout__header .mdl-layout__header-row {
	padding-left: 25px;
}

.mdl-spinner {
	width: 84px;
	height: 84px;
}

.mdl-spinner_circle {
	border-width: 12px;
}