#thresholdTable {
  width: 100%;
}

#thresholdTable > tbody > tr > td button {
  display: block;
  margin-left: auto;

}
#thresholdTable > tbody > tr > td, #thresholdTable > thead > tr > th {
  text-align: right;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 6px;
  line-height: 16px;
  width: auto;
  vertical-align: top;
}

#thresholdKey > thead > tr > th:nth-child(1),
#thresholdKey > tbody > tr > td:nth-child(1)
{
  text-align: center;
  width: 100px;
}

.mdl-card__media.btn_th div.one {
  float: left;
  width: 50%;
  text-align: left;
}

.mdl-card__media.btn_th div.two {
  float: right;
  width: 50%;
}

.mdl-card__media.btn_th div.three {
  text-align: right;
  overflow: auto;

}

.mdi-account-plus,
.mdi-airplane-off {
  color: rgb(63,81,181);
}

.mdi-account-star,
.mdi-airplane {
  color: rgb(255,64,129);
}

.mdi-account,
.mdi-check-circle-outline {
/*  color: rgb(33,150,243); */
}

table#followUp > tbody > tr > td {
  padding: 2px;
}

table#followUp > tbody > tr > td:nth-child(1),
table#followUp > tbody > tr > td:nth-child(3) {
  text-align: center;
}

button.mdl-button--primary.mdl-button--primary.caseid {
  color: rgb(255,64,129);
}

.alarm button span,
.alarm button small a {
  color: rgb(255,64,129);
}

a.alarm-badge,
.alarm-badge {
  color: rgb(255,64,129);
  text-decoration: none;
  outline: none;
}

button.mdl-card__media a {
  color: #333;
  font-size: 12px;
}

.mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.5rem;
}

.mdl-card {
  width: 150px;
  background-color: transparent;
  min-height: 30px;
  float: right;
  margin-top: -15px;
  font-family: Arial;
  font-size: 12px;
}

.mdl-card__media {
  border: 1px solid #777777;
  background: #fff;
  margin-bottom: 10px;
}

.mdl-data-table td:first-of-type {
padding-top: 0px !important;
}

.mdl-data-table td {
  vertical-align: middle;
}
.outer-div {
  overflow-x: scroll;
  border: 1px solid #ccc;
  padding: 5px 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

button.mdl-card__media {
  background-color: #fff;
  text-align: right;
  font-size: 12px;
}

button.mdl-card__media small {
  position: relative;
  top: 15px;
  text-align: right;

}
button.mdl-card__media small a {
  color: #000;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

#content {
  padding: 35px 15px 15px 15px;
}

button.mdl-card__media:hover {
  background-color: #b3d4fc;
  color: #333;
}

button.mdl-card__media:hover span,
button.mdl-card__media:hover small a{
  color: #333 !important;
  text-decoration: none;
}

.mdl-card__media.btn_th {
  margin-left: 5px;
  width: 200px;
  min-height: 36.10px;
  text-align:right;
}

#reportrange {
    display: block;
}

#epi-key,
#districtStat.mdl-card--expand,
#facilityStat.mdl-card--expand,
#yourcases.mdl-card--expand {
  display: inline-block;
}

#summary {
  height: 26px;
}

.epi-summary {
    position: relative;
    color: #fff;
    position: relative;
    bottom: 10px;
}

.epi-summary div h5 {
  color: #666;
}

#summary.mdl-card--expand,
#districtStat.mdl-card--expand,
#facilityStat.mdl-card--expand,
#shehiaStat.mdl-card--expand,
#villageStat.mdl-card--expand,
#yourcases.mdl-card-expand {
  width: 25%;
   border: 1px solid #ccc;
   color: #fff;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
   float: left;
}

#summary.mdl-card--expand {
  width:7.75%;
  margin-bottom: 15px;
}

#date-range {
  margin-bottom: -10px;
}

#thresholdKey {
  overflow:hidden;
  overflow-x:scroll;
  font-size: 16px;
  font-weight: 400;
}

#thresholdKey thead tr th,
#thresholdKey tbody tr td {
  height: 24px;
  padding-left: 20px;
  white-space: normal;
  /*width: 10%;*/
  text-align: right;
}

#thresholdKey tbody tr td {
  padding-bottom: 10px;
}

.threshold {
  border: solid 1px;
}
.alarmAlert {
  color:black;
  background-color:#EEEEEE;
  font-weight:bold;
}

.epi-summary img {
  margin-left: 10px;
}

.epi-summary span {
  font-size: 15px;
  margin-left: -5px;
  margin-right: 5px;
}

.epi-summary h5 {
  margin: 0 0 0 10px;
  display: inline-block;
  font-size: 14px;
}

img.epi-summary {
  width: 8%;
  height: 8%;
  position: relative;
  bottom: 12px;
  margin-right: 5px;
}

#shehiaStat,
#facilityStat,
#districtStat,
#villageStat,
#summary {
  background-color: #ccc;
}

#shehiaStat span,
#facilityStat span,
#villageStat span,
#districtStat span {
  color: #666;
  margin-left: 6px;
  margin-right: 10px;
}

#yourcases {
  background-color: #ff6a00;
}

.mdi.visited,
.mdi.assigned {
  color: rgb(63,81,181);
}

.mdi.alert,
.mdi.alarm {
  color: rgb(255,64,129);
}
